# Node modules
node_modules/
**/node_modules/
# Node modules (backend & frontend)
backend/node_modules/
frontend/node_modules/
# Ignore backend environment file
/backend/.env

# Build output
dist/
build/

# dotenv files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
